<div class="row">
  <h4><%= @product.name %></h4>
</div>
<div class="row">
  <h4>Descrition: <%= @product.description %></h4>
</div>
<div class="row">
  <h4>Price: <%= @product.price %></h4>
</div>
<div class="row">
  <h4>Piece Available: <%= @product.quantity %></h4>
</div>